<section class="auth-section">
  <div class="auth-container">
    <h2><span>Log In </span><span>Sign Up</span></h2>
    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
    <label for="reg-log"></label>
    <div class="card-3d-wrap">
      <div class="card-3d-wrapper">
        <div class="card-front">
          <div class="center-wrap">
            <h3 class="welcome-back">Welcome back!</h3>
            <div class="btn oAuth-btn-g">
              <a href="#"><img src="https://d3ptyyxy2at9ui.cloudfront.net/google-32ae27.svg">with Google</a>
            </div>
            {{!-- <div class="btn" id="oAuth-btn-fb">
              <a href="#"><img src="https://d3ptyyxy2at9ui.cloudfront.net/facebook-fadd25.svg">with Facebook</a>
            </div> --}}
            <p>Or</p>
            <form method="POST" action="/auth/login">
              <label>Email:</label>
              <input type="text" name="email" placeholder="Your email adress">

              <label>Password:</label>
              <input type="password" name="password" placeholder="Your password">

              <button class="btn auth-btn" type="submit">Log in</button>

              {{#if errorMessage}}
                <p class="error">{{errorMessage}}</p>
              {{/if}}
            </form>
            {{!-- <div class="forgot-pass">
              <a href="#">Forgot your password?</a>
            </div>           --}}
          </div>
        </div>
        <div class="card-back">
          <div class="center-wrap">
                        <div class="btn oAuth-btn-g">
              <a href=""><img src="https://d3ptyyxy2at9ui.cloudfront.net/google-32ae27.svg">with Google</a>
            </div>
            {{!-- <div class="btn" id="oAuth-btn-fb">
              <a href=""><img src="https://d3ptyyxy2at9ui.cloudfront.net/facebook-fadd25.svg">with Facebook</a>
            </div> --}}
            <p>Or</p>
            <form method="POST" action="/auth/signup">
              <label>First name:</label>
              <input type="text" name="firstName" placeholder="Your first name">

              <label>Email:</label>
              <input type="email" name="email" placeholder="Your email">

              <label>Password:</label>
              <input type="password" name="password" placeholder="Your password">

              <button class="btn auth-btn" type="submit">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}