<section class="recovery profile-section">
  <div class="profile-container">
    <h1>Reset your password</h1>

    <form method="POST" action="/recovery/reset-password">
      <label>New password:</label>
      <input type="password" name="newPassword" placeholder="Your new password">

      <label>Confirm password:</label>
      <input type="password" name="confirmationPassword" placeholder="Confirm your new password">

      <input class="hidden" type="text" name="userId" value="{{userId}}">

      {{#if successMessage}}
      <div class="success">{{successMessage}}</div>
      <a class="btn auth-btn" href="/auth/login">Log in</a>
      {{else}}
      <button class="btn auth-btn" type="submit">Save</button>
      {{/if}}
      
      {{#if errorMessage}}
      <div class="error">{{errorMessage}}</div>
      {{/if}}
    </form>
  </div>
</section>