<h1>Reset your password</h1>

<form method="POST" action="/recovery/reset-password">
  <label>New password:</label>
  <input type="password" name="newPassword" placeholder="Your new password">

  <label>Confirm password:</label>
  <input type="password" name="confirmationPassword" placeholder="Confirm your new password">

  <button type="submit">Save</button>

  {{#if errorMessage}}
  <div class="error-msg">{{errorMessage}}</div>
  {{/if}}
</form>

{{#if successMessage}}
<div class="success-msg">{{successMessage}}</div>
<a href="/user/dashboard">Go to dashboard</a>
{{/if}}