<header class="homepage">
  <!-- navigation bar -->
  <nav>
    <div class="logo">
      <div class="wave-background">
        <div class="wave-one"></div>
        <div class="wave-two"></div>
        <div class="wave-three"></div>
      </div>
      Mindflow
    </div>
    <div>
      <a href="/auth/login">Sign in</a>
      <a class="btn signup-btn" href="/auth/signup">Sign up</a>
    </div>
  </nav>
  <!-- header section -->
  <div class="col-container">
    <h1>Increase your productivity,
      <br>decrease your stress.
    </h1>
    <!--
    <div id="dynamic-txt-wrapper">
      <div id="dynamic-txt">
        <span>motivation</span>
        <span>productivity</span>
        <span>positivity</span>
      </div>
    </div> -->
    <p>Mindflow is the first todo app that includes meditation techniques to help you be more productive.</p>
    <a class="btn signup-btn" href="/auth/signup">Sign up</a>
    <span>It's free.</span>
  </div>
</header>

<!-- rocket image -->
<div id="rocket-container">
  <img id="rocket-img" src="/images/illustrations/girl-on-rocket.png" alt="3D illustration of a woman on a rocket" width="200px">
</div>

<main class="homepage">
  <!-- features section -->
  <section class="curved-bg">
    <div class="col-container">
      <h2>Get on top of your work</h2>
      <p>Go from feeling overwhelmed,
        <br>to feeling good about things.
      </p>
    </div>
    <div class="row-container">
      <div class="one-half-container">
        <div>
          <p>A clean todo list</p>
          <i class="uil uil-clipboard-notes"></i>
        </div>
        <div>
          <p>Powerful musics curated to boost your performance, whether you are doing creative work or solving problems</p>
        </div>
      </div>
      <div>
        <div>
          <p>A pomodoro timer with 3 preset work-break patterns</p>
          <i class="uil uil-clipboard-notes"></i>
        </div>
        <div>
          <p>A breath bubble to calm your mind and slow down your heart rate</p>
        </div>
      </div>
    </div>
  </section>
  <!-- demo section -->
  <section id="demo-section" class="col-container">
    <img src="/images/illustrations/dashboard-screenshot.png" alt="Screenshot of Mindflow's dasboard" width="60%">
    <h2>Try it out</h2>
    <a class="btn signup-btn" href="/auth/signup">Sign up</a>
  </section>
</main>
<footer>
  <div>@ 2021 Mindflow</div>
</footer>

<script src="/js/index.js"></script>
