<header class="homepage">
  <!-- navigation bar -->
  <nav>
    <div class="logo">
      <div class="wave-background">
        <div class="wave-one"></div>
        <div class="wave-two"></div>
        <div class="wave-three"></div>
      </div>
      Mindflow
    </div>
    <div>
      <a href="/auth/login">Log in</a>
      <a class="btn signup-btn" href="/auth/signup">Sign up</a>
    </div>
  </nav>

  <!-- header section -->
  <div class="col-container">
    <div id="intro-text">
      <h2>Do more,
      <br>stress less
      </h2>
      <p>Mindflow is the only todo app
        <br>that includes meditation techniques
        <br>to boost productivity while decreasing stress.</p>
      <a class="btn signup-btn" href="/auth/signup">Sign up</a>
      <p>It's free.</p>
    </div>
    <!-- meditation illustration -->
    <div id="blobs-container">
      <svg 
      viewBox="0 0 600 600" 
      width="100%" height="100%"
      xmlns="http://www.w3.org/2000/svg" 
      xmlns:xlink="http://www.w3.org/1999/xlink" 
      version="1.1">
        <g transform="translate(299.92667234968565 290.1903098426436)">
          <path id="blob" d="M157 -184.4C196.5 -153.9 216.9 -97.9 229.7 -38.5C242.5 20.8 247.7 83.4 224 134.1C200.4 184.7 147.9 223.4 92.5 235.5C37.2 247.5 -21.1 232.7 -80.3 214C-139.5 195.3 -199.7 172.7 -224.8 129.6C-250 86.5 -240.2 22.9 -226.5 -37.3C-212.8 -97.6 -195.1 -154.5 -156.7 -185.2C-118.3 -216 -59.1 -220.5 -0.2 -220.2C58.7 -220 117.4 -214.9 157 -184.4" fill="#C6C4FF"></path>
        </g>
      </svg>
    </div>
    
  </div>
</header>

<main class="homepage">
  
  <!-- features section -->
  <section id="features-section">
    <!-- curve separator -->
    <div class="curve-separator">
      <h2>What's in Mindflow?</h2>
    </div>

    <!-- section separator -->
    <div id="features-content">
      <div class="row-container">
        <div>
          <i class="uil uil-clipboard-notes"></i>
          <h3>Plan your tasks</h3>
          <p>Organize your goals and tasks in a crispy clean todo list.</p>
        </div>
        <div>
          <i class="uil uil-headphones"></i>
          <h3>Boost your productivity</h3>
          <p>Boost your creativity and problem solving skills with powerful curated musics.</p>
        </div>
      </div>
      <div class="row-container">
        <div>
          <i class="uil uil-stopwatch"></i>
          <h3>Maximize your focus</h3>
          <p>Follow an optimal work-break pattern with a pomodoro timer.</p>
        </div>
        <div>
          <i class="uil uil-heartbeat"></i>
          <h3>Reduce your stress</h3>
          <p>Relax in just 5 minutes with a breath bubble.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- wave separator -->
  <div class="wave-separator">
    <svg 
  id="visual" 
  viewBox="0 0 900 200" 
  width="100%" 
  height="100%" 
  xmlns="http://www.w3.org/2000/svg" 
  xmlns:xlink="http://www.w3.org/1999/xlink" 
  version="1.1">
  <rect x="0" y="0" width="900" height="200" fill="#ECF0FF"></rect>
  <path id="wave1" d="M0 82L21.5 82.3C43 82.7 86 83.3 128.8 84.2C171.7 85 214.3 86 257.2 86C300 86 343 85 385.8 77.5C428.7 70 471.3 56 514.2 54.2C557 52.3 600 62.7 642.8 63.7C685.7 64.7 728.3 56.3 771.2 56.3C814 56.3 857 64.7 878.5 68.8L900 73L900 201L878.5 201C857 201 814 201 771.2 201C728.3 201 685.7 201 642.8 201C600 201 557 201 514.2 201C471.3 201 428.7 201 385.8 201C343 201 300 201 257.2 201C214.3 201 171.7 201 128.8 201C86 201 43 201 21.5 201L0 201Z" fill="#c6c4ff"></path>
  <path id="wave2" d="M0 76L21.5 82.8C43 89.7 86 103.3 128.8 102.5C171.7 101.7 214.3 86.3 257.2 80.7C300 75 343 79 385.8 84.5C428.7 90 471.3 97 514.2 101.3C557 105.7 600 107.3 642.8 107.2C685.7 107 728.3 105 771.2 102.7C814 100.3 857 97.7 878.5 96.3L900 95L900 201L878.5 201C857 201 814 201 771.2 201C728.3 201 685.7 201 642.8 201C600 201 557 201 514.2 201C471.3 201 428.7 201 385.8 201C343 201 300 201 257.2 201C214.3 201 171.7 201 128.8 201C86 201 43 201 21.5 201L0 201Z" fill="#bab8fc"></path>
  <path id="wave3" d="M0 102L21.5 102.2C43 102.3 86 102.7 128.8 107.7C171.7 112.7 214.3 122.3 257.2 127C300 131.7 343 131.3 385.8 131.7C428.7 132 471.3 133 514.2 132.5C557 132 600 130 642.8 130C685.7 130 728.3 132 771.2 129.3C814 126.7 857 119.3 878.5 115.7L900 112L900 201L878.5 201C857 201 814 201 771.2 201C728.3 201 685.7 201 642.8 201C600 201 557 201 514.2 201C471.3 201 428.7 201 385.8 201C343 201 300 201 257.2 201C214.3 201 171.7 201 128.8 201C86 201 43 201 21.5 201L0 201Z" fill="#adacf8"></path>
  <path id="wave4" d="M0 144L21.5 143.5C43 143 86 142 128.8 139.5C171.7 137 214.3 133 257.2 134.5C300 136 343 143 385.8 142.2C428.7 141.3 471.3 132.7 514.2 132.3C557 132 600 140 642.8 142.3C685.7 144.7 728.3 141.3 771.2 142.5C814 143.7 857 149.3 878.5 152.2L900 155L900 201L878.5 201C857 201 814 201 771.2 201C728.3 201 685.7 201 642.8 201C600 201 557 201 514.2 201C471.3 201 428.7 201 385.8 201C343 201 300 201 257.2 201C214.3 201 171.7 201 128.8 201C86 201 43 201 21.5 201L0 201Z" fill="#a0a0f5"></path>
  <path id="wave5" d="M0 162L21.5 163.7C43 165.3 86 168.7 128.8 170.3C171.7 172 214.3 172 257.2 170.5C300 169 343 166 385.8 162.3C428.7 158.7 471.3 154.3 514.2 154.8C557 155.3 600 160.7 642.8 160.8C685.7 161 728.3 156 771.2 156.8C814 157.7 857 164.3 878.5 167.7L900 171L900 201L878.5 201C857 201 814 201 771.2 201C728.3 201 685.7 201 642.8 201C600 201 557 201 514.2 201C471.3 201 428.7 201 385.8 201C343 201 300 201 257.2 201C214.3 201 171.7 201 128.8 201C86 201 43 201 21.5 201L0 201Z" fill="#9295f1"></path>
</svg>
  </div>

  <!-- demo section -->
  <section id="demo-section" class="col-container">
    <div>
      <h2>Try it out</h2>
      <p>Go from feeling overwhelmed,
        <br>to feeling on top of it.</p>
        <a class="btn signup-btn" href="/auth/signup">Sign up</a>
    </div>

    <div>
      <img id="dashboard-screenshot" src="/images/illustrations/dashboard-screenshot.png" alt="" width="50%">
    </div>

    
  </section>
</main>

<script src="/js/index.js"></script>
