<header class="homepage">
  <!-- navigation bar -->
  <nav>
    <div id="logo">Mindflow</div>
    <div>
      <a href="/auth/login">Sign in</a>
      <a class="btn signup-btn" href="/auth/signup">Sign up</a>
    </div>
  </nav>
  <!-- header section -->
  <div class="row-container">
    <img src="/images/illustrations/superhero.png" alt="Hand-drawn illustration of a woman running" width="40%">
    <div class="one-half-container">
      <h1>Increase your productivity,
        <br>decrease your stress.
      </h1>
      <!--
      <div id="dynamic-txt-wrapper">
        <div id="dynamic-txt">
          <span>motivation</span>
          <span>productivity</span>
          <span>positivity</span>
        </div>
      </div> -->
      <p>Mindflow is the first todo app that includes meditation techniques to help you be more productive.</p>
      <a class="btn signup-btn" href="/auth/signup">Sign up</a>
      <span>It's free.</span>
    </div>
  </div>
</header>
<main class="homepage">
  <!-- features section -->
  <section class="row-container">
    <div class="one-half-container">
      <h2>Cut out the noise</h2>
      <p>Go from feeling overwhelmed, to feeling good about it.</p>
      <ul>
        <li>In Mindflow, you get:</li>
        <li><i class="uil uil-clipboard-notes"></i>A clean todo list</li>
        <li><i class="uil uil-stopwatch"></i>A pomodoro timer with 3 preset work-break patterns</li>
        <li><i class="uil uil-heartbeat"></i>A breath bubble to calm your mind and slow down your heart rate</li>
        <li><i class="uil uil-headphones"></i>Powerful musics curated to boost your performance, whether you are doing creative work or solving problems</li>
      </ul>
    </div>
    <img src="/images/illustrations/meditation.png" alt="Hand-drawn illustration of a woman and a man in front of a rainbow" width="40%">
  </section>
  <!-- demo section -->
  <section id="demo-section" class="col-container">
    <img src="/images/illustrations/dashboard-screenshot.png" alt="Screenshot of Mindflow's dasboard" width="60%">
    <h2>Try it out</h2>
    <a class="btn signup-btn" href="/auth/signup">Sign up</a>
  </section>
</main>
<footer>
  <div>@ 2021 Mindflow</div>
</footer>
