:root {
  --dark: #161616;
  --white: #EEEEEE;
  --dark-blue: #0207BF;
  --main-blue: #5538EE;
  --light-blue: #C6C4FF;
  --main-red: #FF6D6D;
  --light-red: #FFC0C0;
  --title-font: "Rozha One";
}

/* global */
body {
  margin: 0;
  font: 16px "Poppins", Helvetica, Arial, sans-serif;
  color: var(--dark);
}

h1,
h2 {
  font-family: var(--title-font);
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

h2 {
  font-size: 40px;
  line-height: 1;
}

a {
  text-decoration: none;
  color: var(--white);
}

li {
  list-style: none;
}

p {
  width: 60%;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 30px;
}


/* containers */
.row-container {
  display: flex;
  justify-content: space-evenly;
}

.one-half-container {
  width: 50%;
}

.col-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* buttons */
.btn {
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.signup-btn {
  background: var(--main-red);
}


/* sections */
header {
  background: linear-gradient(var(--main-blue), var(--white));
  color: var(--white);
}

section {
  margin-top: 40px;
}

#demo-section {
  background-color: linear-gradient(var(--light-blue), var(--light-red));
}

/* illustrations */
#superhero-img,
#rainbow-img {
  width: 40%;
}


/* text animation */
#dynamic-txt-wrapper {
  display: flex;
  box-sizing: content-box;
  height: 45px;
}

#dynamic-txt-wrapper > h2,
#dynamic-txt {
  font-family: var(--title-font);
  font-size: 30px;
  padding: 3px;
  margin: 0;
}

#dynamic-txt {
  overflow: hidden;
  color: var(--main-red);
}

#dynamic-txt > span {
  display: block;
  height: 100%;
  animation: flip 15s infinite;
  transition: translateY;
}

@keyframes flip {
  10%
  {
    transform: translateY(-112%);
  }
  25%
  {
    transform: translateY(-100%);
  }
  35%
  {
    transform: translateY(-212%);
  }
  50%
  {
    transform: translateY(-200%);
  }
  60%
  {
    transform: translateY(-312%);
  }
  75%
  {
    transform: translateY(-300%);
  }
  85%
  {
    transform: translateY(-412%);
  }
  100%
  {
    transform: translateY(-400%);
  }
}

/* auth pages */
.auth-section {
  background: linear-gradient(var(--main-blue), var(--white));
  height: 100vh;
  display: flex;
  margin-top: 0;
}

.auth-container {
  width: 40vh;
  margin : auto;
  display: flex;
  flex-direction: column;
}

.auth-container h2 {
text-align: center;  
color: var(--white);
font-size: 150%;
}

.auth-container span {
  padding: 0 20px;
}

#oAuth-btn-g {
  margin: 10px 0;
  padding: 6px;
  border-radius: 8px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
}

#oAuth-btn-g img {
  margin: 0 10px;
  width: 16px; 
  height: 16px; 
}

#oAuth-btn-g a {
  color: black;
  font-size: 75%;
  vertical-align: center;
}

#oAuth-btn-fb {
  margin: 10px 0;
  padding: 6px;
  border-radius: 8px;
  border: solid 1px #0067DB;
  background-color: #0067DB;
  display: flex;
  justify-content: center;
}

#oAuth-btn-fb img {
  margin: 0 10px;
  width: 16px; 
  height: 16px; 
}

#oAuth-btn-fb a {
  color: var(--white);
  font-size: 75%;
  vertical-align: center;
}

.auth-container p {
  margin: 22px auto 10px;
  color: var(--dark);
  text-align: center;
  font-size: 90%;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-section label {
  color: var(--dark);
  font-size: 80%;
  padding: 5px 0;
}

.auth-section input {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: solid 1px var(--dark);
}

.auth-section input:valid {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: solid 1px var(--main-blue);
  background-color: #c6c4ff3a;
}

.auth-section input:invalid {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: solid 1px red;
  background-color: rgba(255, 0, 0, 0.1);
}

.caption:hidden {
  display: none;
}

.caption {
  color: red;
  font-size: 50%;
  padding-right: 25px;
  margin-bottom: 10px;
}

#auth-btn {
  margin: 25px auto 20px;
  padding: 10px 20px;
  background: var(--main-red);
  color: var(--white);
  border: none;   
}

#auth-btn:hover {
  background: var(--white);
  color: var(--main-red);
  border: solid 1px var(--main-red);
}

.forgot-pass {
  display: flex;
  margin-top: 15px;
}

.forgot-pass a {
  margin: auto;
  color: var(--dark);
  font-size: 70%;
}

/* 3D cards */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #c6c4ff3a;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: var(--light-blue);
  background-color: var(--dark-blue);
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 500px;
  max-width: 100%;
  height: 600px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 20px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}

.card-front, .card-back {
  width: 100%;
  height: 80%;
  background: var(--white);
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow:0 0 5px rgba(0,0,0,.4);
  transform:rotateX(-1deg); 
  transform-origin:center top;
}

.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.center-wrap {
  padding: 30px 28px;
  transform: translate3d(0, 0, 35px) perspective(100px);
  display: block;  
}