:root {
  --dark: #161616;
  --white: #FFFFFF;
  --light-grey: rgba(196,196,196, 0.5);
  --mid-grey: #a9a9a9;
  --blue-grey: #ECF0FF;
  --dark-blue: #0207BF;
  --main-blue: #5538EE;
  --mid-blue: #9295F1;
  --light-blue: #C6C4FF;
  --main-red: #FF6D6D;
  --light-red: #FFC0C0;
  --blue-shadow: 0 4px 44px 0 rgba(2,7,191, 0.1);
  --red-shadow: 0 4px 44px 0 rgba(255,109,109, 0.3);
  --small-radius: 5px;
  --mid-radius: 15px;
  --large-radius: 25px;
  --xlarge-radius: 50%;
  --title-font: "Rozha One";
  --main-font: "Poppins";
}


/* 
    GLOBAL 
*/

body {
  margin: 0;
  font: 14px var(--main-font), Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: var(--dark);
}

h1,
h2 {
  font-family: var(--title-font);
  margin-bottom: 20px;
  line-height: 1;
}

h3 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  width: 60%;
  line-height: 1.6;
}

hr {
  color: var(--light-grey);
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 15px;
}

input {
  font-weight: 300;
}


/* containers */
.row-container {
  display: flex;
  justify-content: space-evenly;
}

.one-half-container {
  width: 50%;
}

.col-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* buttons */
.btn {
  padding: 10px;
  margin-left: 10px;
  border-radius: var(--small-radius);
}

.signup-btn {
  background: var(--main-red);
}

button {
  background: inherit;
  font-family: var(--main-font);
  font-weight: inherit;
  border-style: none;
  cursor: pointer;
  padding: 0;
}


/* 
    HOMEPAGE
*/
#homepage h1 {
  font-size: 50px;
}

#homepage h2 {
  font-size: 40px;
}

#homepage section {
  margin-top: 40px;
}

#homepage header {
  background: linear-gradient(var(--main-blue), var(--white));
  color: var(--white);
}


/* illustrations */
#superhero-img,
#rainbow-img {
  width: 40%;
}

#demo-section {
  background-color: linear-gradient(var(--light-blue), var(--light-red));
}

/* text animation */
#dynamic-txt-wrapper {
  display: flex;
  box-sizing: content-box;
  height: 45px;
}

#dynamic-txt-wrapper > h2,
#dynamic-txt {
  font-family: var(--title-font);
  font-size: 30px;
  padding: 3px;
  margin: 0;
}

#dynamic-txt {
  overflow: hidden;
  color: var(--main-red);
}

#dynamic-txt > span {
  display: block;
  height: 100%;
  animation: flip 15s infinite;
  transition: translateY;
}

@keyframes flip {
  10%
  {
    transform: translateY(-112%);
  }
  25%
  {
    transform: translateY(-100%);
  }
  35%
  {
    transform: translateY(-212%);
  }
  50%
  {
    transform: translateY(-200%);
  }
  60%
  {
    transform: translateY(-312%);
  }
  75%
  {
    transform: translateY(-300%);
  }
  85%
  {
    transform: translateY(-412%);
  }
  100%
  {
    transform: translateY(-400%);
  }
}

/* 
    AUTH PAGES 
*/
.auth-section {
  background: linear-gradient(var(--main-blue), var(--white));
  height: 100vh;
  display: flex;
  margin-top: 0;
}

.auth-container {
  width: 40vh;
  margin : auto;
  display: flex;
  flex-direction: column;
}

.auth-container h2 {
text-align: center;  
color: var(--white);
font-size: 150%;
}

.auth-container span {
  padding: 0 20px;
}

#oAuth-btn-g {
  margin: 10px 0;
  padding: 6px;
  border-radius: 8px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
}

#oAuth-btn-g img {
  margin: 0 10px;
  width: 14px; 
  height: 14px; 
}

#oAuth-btn-g a {
  color: black;
  font-size: 75%;
  vertical-align: center;
}

#oAuth-btn-fb {
  margin: 10px 0;
  padding: 6px;
  border-radius: 8px;
  border: solid 1px #0067DB;
  background-color: #0067DB;
  display: flex;
  justify-content: center;
}

#oAuth-btn-fb img {
  margin: 0 10px;
  width: 14px; 
  height: 14px; 
}

#oAuth-btn-fb a {
  color: var(--white);
  font-size: 75%;
  vertical-align: center;
}

.auth-container p {
  margin: 22px auto 10px;
  color: var(--dark);
  text-align: center;
  font-size: 90%;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-section label {
  color: var(--dark);
  font-size: 80%;
  padding: 5px 0;
}

.auth-section input {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: solid 1px var(--dark);
}

.auth-section input:valid {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: solid 1px var(--main-blue);
  background-color: #c6c4ff3a;
}

.auth-section input:invalid {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: solid 1px red;
  background-color: rgba(255, 0, 0, 0.1);
}

.caption:hidden {
  display: none;
}

.caption {
  color: red;
  font-size: 50%;
  padding-right: 25px;
  margin-bottom: 10px;
}

#auth-btn {
  margin: 25px auto 20px;
  padding: 10px 20px;
  background: var(--main-red);
  color: var(--white);
  border: none;   
}

#auth-btn:hover {
  background: var(--white);
  color: var(--main-red);
  border: solid 1px var(--main-red);
}

.forgot-pass {
  display: flex;
  margin-top: 15px;
}

.forgot-pass a {
  margin: auto;
  color: var(--dark);
  font-size: 70%;
}

/* 3D cards */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 14px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #c6c4ff3a;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: var(--xlarge-radius);
  color: var(--light-blue);
  background-color: var(--dark-blue);
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 500px;
  max-width: 100%;
  height: 600px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 20px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}

.card-front, .card-back {
  width: 100%;
  height: 80%;
  background: var(--white);
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow:0 0 5px rgba(0,0,0,.4);
  transform:rotateX(-1deg); 
  transform-origin:center top;
}

.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.center-wrap {
  padding: 30px 28px;
  transform: translate3d(0, 0, 35px) perspective(100px);
  display: block;  
}


/* 
    DASHBOARD
*/
#dashboard h2 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 20px;
}

#dashboard h3 {
  font-weight: 500;
  font-size: 14px;
}

#dashboard h4 {
  font-weight: 300;
  font-size: 14px;
}

#top-screen {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

#bottom-screen {
  min-height: 100vh;
  max-height: 100vh;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#page-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

#page-toggle * {
  font-family: var(--main-font);
  font-size: 20px;
}

#dashboard-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  width: 100%;
  padding-left: 0;
}

#goals-section,
#tasks-section,
#player-widget,
#gantt-chart {
  box-shadow: var(--blue-shadow);
  padding: 30px;
}

#dashboard-container h1,
#dashboard-container h2 {
  margin-top: 0;
}

#dashboard h1 {
  font-size: 25px;
}

#goals-section {
  background: var(--blue-grey);
  width: 30%;
  border-radius: 0 var(--large-radius) var(--large-radius) 0;
}

#tasks-section {
  width: 40%;
  border-radius: var(--large-radius);
}

/* widget section */
#widget-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  justify-content: center;
  margin-right: 20px;
}

#pomodoro-container {
  position: relative;
  display: none;
}

#pomodoro-container.active {
  display: block;
}

#breath-container.active {
  display: flex;
}

#breath-container,
#pomodoro {
  box-shadow: var(--blue-shadow);
  border-radius: var(--xlarge-radius);
  color: var(--mid-blue);
}

#pomodoro--content * {
  color: var(--mid-blue);
  font-size: 20px;
}

#pomodoro--content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#pomodoro--progress-ring {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: var(--main-blue);
}

/* beath bubble */
#breath-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 297px;
  height: 297px;
}

#breath-bubble {
  border-radius: var(--xlarge-radius);
  width: 33.5%; 
  height: 33.5%; 
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: breath 8s ease-in 0s infinite alternate;
}

@keyframes breath {
  from { 
    transform: scale(1);
    background: var(--mid-blue);
  }
	to { 
    transform: scale(3);
    background: var(--white);
  }
}

#breath-text {
  font-size: 20px;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: text-gradient 8s ease-in 0s infinite alternate;
}

@keyframes text-gradient {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#player-widget {
  width: 80%;
  max-width: 297px;
  max-height: 297px;
  padding: 40% 0;
}

#player-widget,
#gantt-chart {
  background: var(--main-blue);
  border-radius: var(--large-radius);
}

blockquote {
  margin-bottom: 0;
}

.uil {
  cursor: pointer;
}

#toggle-menu {
  position: relative;
}

#toggle-links {
  position:absolute; right:0; top:13px; z-index: 0;
  color: var(--dark);
  box-shadow: var(--blue-shadow);
  border-radius: var(--mid-radius);
  padding: 10px;
  width: 200px;
  margin: 0;

  display: none;
}
#toggle-links.active {
  display:block;
}

.options.active {
  display: flex;
}

.add-input.active {
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 10px;
}

.uil-setting {
  font-size: 30px;
  position: absolute;
  margin-top: 10px;
  right: 0;
  top: 0;
  z-index: 1;
  transition: transform 2s;
}

.uil-setting:hover {
  transform: rotate(90deg);
  
}

#gantt-chart {
  color: white;
  margin: 40px;
  width: 100%;
}

#gantt-chart > h2 {
  color: var(--white);
  text-align: center;
}

#gantt-chart__weeks {
  display: flex;
  justify-content: space-between;
}

/* mode switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-blue);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: var(--xlarge-radius);
  background: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background: var(--mid-blue);
}

.switch input:focus + .slider {
  box-shadow: var(--blue-shadow);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* goal and tasks forms */
.goal {
  padding-left: 30px;
}

.goal > h4 {
  padding-left: 10px;
  border-radius: var(--small-radius);
  color: var(--white);
  margin-bottom: 10px;
}

.add-goal-form {
  padding-left: 30px;
}

.add-goal-form .uil-plus {
  color: var(--main-red);
}

#add-task-form,
.edit-task-form {
  margin: 10px 0 30px 0;
  padding: 10px;
}

#add-task-form .uil-plus {
  color: var(--white);
  background: var(--main-red);
  border-radius: var(--small-radius);
  box-shadow: var(--red-shadow);
}

.color-picker {
  border-radius: var(--xlarge-radius);
  width: 30px;
  height:30px;
  padding: 0;
  border: none;
}

.date-picker,
.color-picker,
#goal-selector {
  cursor: pointer;
}

.date-picker {
  width: 100px;
}

.add-input {
  background: none;
  border-style: none;
  width: 80%;
}

.add-input::placeholder {
  font-size: 14px;
  font-family: var(--main-font);
}

.add-input:focus {
  outline: none;
}

.add-input:focus::placeholder {
  opacity: 0;
}

#category-input {
  display: none;
}

.options {
  margin-top: 10px;
}

.options * {
  color: var(--mid-grey);
}

.date-picker,
#goal-selector {
  border-radius: var(--mid-radius);
  padding: 5px;
  font-weight: 300;
  font-family: var(--main-font);
  border: 1px solid var(--light-grey);
  background: inherit;
}

.form-focus {
  border: 1px solid var(--light-grey);
  border-radius: var(--small-radius);
}

.task-form {
  display: flex;
  flex-direction: column;
}

.task-container {
  display: flex;
  align-items: center;
}

.task-container > div {
  padding-left: 10px;
  margin-left: 5px;
}

.task-container button {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: var(--xlarge-radius);
  border: 1px solid var(--mid-grey);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-height: 30px;
}

.uil-pen,
.uil-trash-alt {
  color: var(--dark);
  font-size: 18px;
}

.task:hover .edit-icons {
  display: block;
}

.options,
.is-done-input,
.edit-icons,
.edit-task-form {
  display: none;
}

.edit-task-form.active {
  display: block;
}

/*
    PROFILE PAGE 
*/

.profile-section {
  background: linear-gradient(var(--main-blue), var(--white));
  height: 100vh;
  display: flex;
}

.profile-container {
  margin: auto;
  padding: 25px 30px;
  width: 500px;
  max-width: 100%;
  height: 400px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow:0 0 5px rgba(0,0,0,.4);  
  transform:rotateX(-1deg); 
  transform-origin:center top;
}

.profile-container h2 {
  color: var(--dark-blue)
}

.profile-container form { 
  display: flex;
  flex-direction: column;
  padding: 5px 70px;
}

.profile-container label {
  color: var(--dark);
  font-size: 80%;
  padding: 5px 0;
}

.profile-container input {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: solid 1px var(--dark);
}

.profile-container input:valid {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: solid 1px var(--main-blue);
  background-color: #c6c4ff3a;
}

.profile-container input:invalid {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: solid 1px red;
  background-color: rgba(255, 0, 0, 0.1);
}

.ccaption:hidden {
  display: none;
}

.ccaption {
  color: red;
  font-size: 50%;
  padding-right: 25px;
  margin-bottom: 10px;
}

#edit-btn {
  margin: 27px auto 20px;
  padding: 7px 20px;
  background: var(--main-red);
  color: var(--white);
  border: none;   
}

#edit-btn:hover {
  background: var(--white);
  color: var(--main-red);
  border: solid 1px var(--main-red);
}